awscli~=1.16
# black requires explicit version number while it's in beta (b suffix)
black==18.6b4
coverage~=4.4
flake8~=3.5
isort~=4.2
pytest~=3.2
pytest-cov~=2.5

# Private
infrastructure-run-cloudformation~=0.9
pypi-s3-upload~=1.1
